html{
    box-sizing: border-box;
}
*,
*::after,
::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul,
li{
    margin: 0;
    padding:0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0;
}
body{
    color: #24211F;
    font-family:  'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background: #E5E5E5;
}
.container{
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    padding:27px 0;
}
.header__info{
    display:flex;
}
.menu__list{
    color: #8C8C8C;
    font-size: 15px;
    line-height: 18px;
    display:flex;
    justify-content: space-between;
    width: 325px;
}
.header__box{
    display:flex;
}
.header__box-form{
    padding: 0 30px 0 70px;
}
.header__box-select{
    width: 50px;
}
.header__box-img{
    width: 16px;
    height: 19px;
}
.footer__wrapper{
    display:flex;
    justify-content:space-between;
    padding: 0 137px;
}
.footer__info{
    display:flex;
    padding-top: 20px;
}
.footer__info-block{
    margin-right:50px;
}
.footer__info-title{
    color:#24211F;
    font-size:16px;
    line-height:20px;
    font-weight:700;
}
.footer__info-text span{
    display:block;
    font-size:14px;
    color:#24211F;
}
.footer__image{
    margin-bottom:30px;
}
.footer__image-item{
    margin-bottom:15px;
}
.footer__image-inner{}
.footer__image-icon{}
.footer__pay{
    padding: 0 137px;
}
.footer__pay-icon{
    padding:0 10px 20px 0;
}
.footer__bottom{
    background: #2C2C2C;
    color:#FFFFFF;
    font-size:12px;
    line-height:45px;
}
.footer__bottom-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 0 137px;
}
.footer__bottom-item{
}

/*--------index page--------*/
.search{
    background-image: url('../images/background/header-bg.png');
    background-size: cover;
    min-height: 236px;
    text-align: center;
    margin-bottom: 40px;
}
.search__title{
    padding-top: 60px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.search__form{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__form-input{
    width: 560px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 20px;
}
.search__form-input ::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8C8C8C;
}
.search__form-btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    height: 42px;
    width: 120px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background: #FF4D00;
    background-image: url('../images/icon/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 14px 14px;
}
.post{

}
.post__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24211F;
    padding-bottom: 20px;
}
.post__body{
    display: flex;
    margin-bottom: 40px;
    position: relative;
}
.post__img{
    width: 50%
}
.post__img-category{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.post__img-category span{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}
.post__info{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post__info-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    margin-bottom: 13px;
}
.post__info-text{
    padding-bottom: 20px;
}
.post__info-transition{
    font-size: 16px;
    line-height: 125%;
    color: #FF4D00;
    border: none;
    background: #E5E5E5;
    width: 150px;
    text-align:left;
    margin-left:-6px;
}
.post__inner{
    display: flex;
    justify-content:space-between;
}
.post__card{
    max-width: 445px;
    min-width: 300px;
    position: relative;
    margin-bottom: 80px;
}
.post__card_img{
    position: relative;
}
.post__card-info{
    margin: 15px 0 20px 18px;
    display: flex;
    justify-content:space-between;
}
.post__card-block{
    display: flex;
    justify-content:space-between;
}
.post__card-avatar{
    padding-right: 10px;
}
.post__card-user{
    line-height:26px;
}
.post__card-title{
    font-weight: 700;
    line-height: 125%;
    margin: 0 0 5px 18px;
}
.post__card-text{
    margin: 0 0 25px 18px;
}
.post__card input{
    position: absolute;
    right: 0px;
}
.category__title{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.category__posts{
    background: #E5E5E5;
    border: none;
    color: #8A8A8A;
    height: 27px;
}

/*--------about page--------*/
.search__pages{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.search_pages-item{
    justify-content: flex-start;
    min-width: 85%;
    padding-top: 0;
}
.search_pages-input{
    min-width: 85%;
}
.search__photo{
    display: flex;
}
.search__photo{
    height: 20px;
    align-self: center;

}
.search__photo-text{
    white-space: nowrap;
    line-height: 20px;
}
.about{
    background: linear-gradient(180deg, #EFF3F6 0%, #FFFFFF 100%);
}
.about__body{
    padding: 80px 130px 60px 130px;
    display: flex;
    flex-direction: column;

}
.about__body-wrapper{
    display: flex;
    margin-bottom: 20px;
}
.about__body-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding:0 0 20px 40px;
}
.about__body-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    padding:0 0 20px 40px;
}
.about__body-text p{
    padding-bottom: 15px;
}
.about_block{
    display: flex;
    padding: 0 100px;
}
.about_block-info{
    padding-right: 40px;
    align-self: center;
}
.about_block-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 20px;
}
.ev{
    padding-left: 40px;
}
.about_block-text{}
.about_block-img{}
.about_text{
    padding: 50px 100px 50px 100px;
}