{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block body %}
<section class="container">
    <div class="search__pages">
        <form class="search__form search_pages-item">
            <input class="search__form-input search_pages-input" type="text" placeholder="Pleace use English keywords">
            <input class="search__form-btn" type="submit" value="Search">
        </form>
        <div class="search__photo">
            <img src="/static/images/icon/photo-icon.svg">
            <div class="search__photo-text">Similar Search</div>
        </div>
    </div>
</section>

<section class="about">
    <div class="about__body container">
        <div class="about__body-wrapper">
            <img src="/static/images/img/about-1.png">
            <div class="about__body-item>">
                <div class="about__body-title">About us</div>
                <div class="about__body-text"><p>Images of beautiful landscapes can easily make a flyer, newsletter or social media campaign look outstanding. We are all attracted to the wilderness by nature and they do look absolutely amazing when skillfully placed on a design template. Exotic images of narure for example have become increasingly popular as tropical images in marketing become more and more trendy. By using beautiful images of nature in your next campaign, you are sure to attract the eye of your audience.</p>
                <div>Images of beautiful landscapes can easily make a flyer, newsletter or social media campaign look outstanding. We are all attracted to the wilderness by nature and they do look absolutely. </div></div>
            </div>
        </div>
        <div class="about__body-info">
            <p>Images of beautiful landscapes can easily make a flyer, newsletter or social media campaign look outstanding. We are all attracted to the wilderness by nature and they do look absolutely amazing when skillfully placed on a design template. Exotic images of narure for example have become increasingly popular as tropical images in marketing become more and more trendy. By using beautiful images of nature in your next campaign, you are sure to attract the eye of your audience.</p>
            <p>Images of beautiful landscapes can easily make a flyer, newsletter or social media campaign look outstanding. We are all attracted to the wilderness by nature and they do look absolutely amazing when skillfully placed on a design template. Exotic images of narure for example have become increasingly popular as tropical images in marketing become more and more trendy. By using beautiful images of nature in your next campaign, you are sure to attract the eye of your audience.Images of beautiful landscapes can easily make a flyer, newsletter or social media campaign look outstanding. We are all attracted to the wilderness by nature and they do look absolutely amazing when skillfully placed on a design template. Exotic images of narure for example have become increasingly popular as tropical images in marketing become more and more trendy. By using beautiful images of nature in your next campaign, you are sure to attract the eye of your audience.</p>
        </div>
    </div>
    <div class="about_info container">
        <div class="about_block">
            <div class="about_block-info">
                <div class="about_block-title">Our values</div>
                <div class="about_block-text">Imageselect was founded in 2001. The goal was to assemble the fragmented, mostly analogue, world of photography on a comprehensive platform. Over a decade later Imageselect has been one of the major players in the field of stock photography</div>
            </div>
            <img class="about_block-img" src="/static/images/img/about-2.png">
        </div>

        <div class="about_block">
             <img class="about_block-img" src="/static/images/img/about-3.png">
            <div class="about_block-info">
                <div class="about_block-title ev">What our clients say</div>
                <div class="about_block-text ev">Imageselect was founded in 2001. The goal was to assemble the fragmented, mostly analogue, world of photography on a comprehensive platform. Over a decade later Imageselect has been one of the major players in the field of stock photography</div>
            </div>
        </div>

        <div class="about_block">
            <div class="about_block-info">
                <div class="about_block-title">What our clients say</div>
                <div class="about_block-text"> Imageselect was founded in 2001. The goal was to assemble
                    the fragmented, mostly analogue, world of photography on a comprehensive platform. Over a decade later Imageselect has been one of the major players in the field of stock photography
                    Imageselect was founded in 2001. The goal was to assemble the fragmented, mostly analogue, world of photography on
                    a comprehensive platform. Over a decade later Imageselect has been one of the major players in the field of stock photography</div>
            </div>
            <img class="about_block-img" src="/static/images/img/about-4.png">
        </div>

        <div class="about_text">
            <p class="about_text-inner"> Images of beautiful landscapes can easily make a flyer, newsletter or social media campaign look outstanding. We are all attracted to the wilderness by nature and they do look absolutely amazing when skillfully placed on a design template. Exotic images of narure for example have become increasingly popular as tropical images in marketing become more and more trendy. By using beautiful images of nature in your next campaign, you are sure to attract the eye of your audience.</p>
            <p class="about_text-inner">Images of beautiful landscapes can easily make a flyer, newsletter or social media campaign look outstanding. We are all attracted to the wilderness by nature and they do look absolutely amazing when skillfully placed on a design template. Exotic images of narure for example have become increasingly popular as tropical images in marketing become more and more trendy. By using beautiful images of nature in your next campaign, you are sure to attract the eye of your audience.</p>
        </div>


    </div>
</section>

{% endblock %}