{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block body %}
<section class="container">
    <div class="search__pages">
        <form class="search__form search_pages-item">
            <input class="search__form-input search_pages-input" type="text" placeholder="Pleace use English keywords">
            <input class="search__form-btn" type="submit" value="Search">
        </form>
        <div class="search__photo">
            <img src="/static/images/icon/photo-icon.svg">
            <div class="search__photo-text">Similar Search</div>
        </div>
    </div>
</section>

{% endblock %}