{% extends 'base.html' %}

{% block title %}
Blog
{% endblock %}

{% block body %}
<section class="search">
    <div class="container">
        <div class="search__title">Blog search</div>
        <form class="search__form">
            <input class="search__form-input" type="text" placeholder="Pleace use English keywords">
            <input class="search__form-btn" type="submit" value="Search">
        </form>
    </div>
</section>

<section class="post container">
    <div class="post__title">Recent posts</div>
    <div class="post__body">
        <div class="post__img">
            <img class="post__img-img" src="/static/images/posts/central post1.png">
            <div class="post__img-category">
                <span>Creativity</span>
                <span>Inspiration</span>
            </div>
        </div>
        <div class="post__info">
            <div class="post__info-title">Create attractive marketing materials</div>
            <div class="post__info-text">Like all businesses, you want to get your name out there, be noticed and bring
                attention to your brand. With a good product or service and a few smart ideas, a marketing campaign can
                be on the way in no time at all. But how can you design it in an attractive way while respecting your
                brand image and goals? At ImageSelect, no surprises, we think it all starts with the proper images.
            </div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
    </div>
    <div class="post__inner">
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 2.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">Backetball photography</div>
            <div class="post__card-text">Let's divide the tips into two aspects: technical and general. So, when we talk about the technical aspect we mean the following tips:</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 3.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">What are stock images?</div>
            <div class="post__card-text">Nowadays, it is hard to imagine a regular ad or website containing no images at all...</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 4.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">Horse photography for beginners</div>
            <div class="post__card-text">Nowadays, it is hard to imagine a regular ad or website with...</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
    </div>
</section>

<section class="category__started container">
    <div class="category__title">
        <div class="post__title">Getting started</div>
        <input class="category__posts" type="submit" value="More articles &#8594">
    </div>
     <div class="post__inner">
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 5.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">What are royalty free images?</div>
            <div class="post__card-text">Nowadays, it is hard to imagine a regular ad or website containing no images at all...</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 6.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">What are the Different Types of Illustrations?</div>
            <div class="post__card-text">Nowadays, it is hard to imagine a regular ad or website containing no images at all...</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 7.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">Horse photography for beginners</div>
            <div class="post__card-text">Nowadays, it is hard to imagine a regular ad or website with...</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
    </div>
</section>

<section class="category__started container">
    <div class="category__title">
        <div class="post__title">Getting started</div>
        <input class="category__posts" type="submit" value="More articles &#8594">
    </div>
     <div class="post__inner">
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 8.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">What are royalty free images?</div>
            <div class="post__card-text">Nowadays, it is hard to imagine a regular ad or website containing no images at all...</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 9.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">What are the Different Types of Illustrations?</div>
            <div class="post__card-text">Nowadays, it is hard to imagine a regular ad or website containing no images at all...</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
        <div class="post__card">
            <div class="post__card_img">
                <img class="post__card-img"   src="/static/images/posts/post 10.png">
                <div class="post__img-category">
                    <span>Creativity</span>
                    <span>Inspiration</span>
                </div>
            </div>
            <div class="post__card-info">
                <div class="post__card-block">
                    <img class="post__card-avatar" src="/static/images/users/user1.png">
                    <div class="post__card-user">Alex Alex</div>
                </div>
                <div class="post__card-date">Aug 22, 2021</div>
            </div>
            <div class="post__card-title">Horse photography for beginners</div>
            <div class="post__card-text">Nowadays, it is hard to imagine a regular ad or website with...</div>
            <input class="post__info-transition" type="submit" value="Continue reading &#8594">
        </div>
    </div>
</section>

{% endblock %}